.resource {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100px;

  .remove,
  .add {
    width: 40px;
    height: 40px;
    font-family: "Clank";
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #000;
    background: #f3f3f3;
  }

  .input {
    width: 80px;
    height: 80px;
    background-color: #ffffff33;
    border: none;
    backdrop-filter: blur(20px);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .resourceIcon {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 100%;
      height: auto;
      object-position: center;
    }
  }
}
